@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Aldrich-Regular';
  src: url(../fonts/Aldrich-Regular.ttf);
  font-display: swap;
}

@layer base {
  body {
    @apply bg-background font-primary text-on-background overflow-x-hidden;
  }
  pre {
    @apply font-primary;
  }
}

/* Text */

.large-title {
  @apply font-bold text-3xl text-center;
}
.medium-title {
  @apply font-bold text-xl text-center;
}
.small-title {
  @apply font-bold text-lg tracking-widest;
}

/* Container */

.fullscreen-player-lying-in-the-grass-background {
  @apply w-screen min-h-dvh pb-20 bg-cover bg-center bg-left flex items-center justify-center;
  background-image: url('/images/player-lying-in-the-grass-background.png');
}

.wrapper {
  @apply flex flex-col items-center justify-center w-full md:w-fit py-20 px-10 gap-20 mx-auto;
  min-height: calc(100dvh - 5rem);
}

.container {
  @apply bg-background rounded-lg border-on-background border-2 px-10 mx-5 sm:px-40 py-10 flex flex-col items-center justify-center gap-10 w-auto;
}

.fullscreen-without-navbar {
  @apply w-full;
  height: calc(100dvh - 5rem);
}

.modal {
  @apply fixed inset-0 bg-background border-2 border-on-background flex items-center justify-center z-50;
}
.modal > svg {
  @apply text-2xl absolute right-0 top-0 m-5 hover:text-primary cursor-pointer;
}
.modal > div {
  @apply max-h-dvh lg:max-h-full overflow-auto p-10;
}

/* Button */

.button {
  @apply bg-primary text-center text-lg py-4 px-8 rounded-lg shadow-inner hover:bg-on-background hover:text-background transition duration-300 ease-in-out;
}

.icon-button {
  @apply hover:text-primary cursor-pointer bg-background size-14 flex items-center justify-center rounded-full;
}

.button-secondary {
  @apply bg-muted text-center text-lg py-4 px-8 rounded-lg shadow-inner hover:bg-on-background hover:text-background transition duration-300 ease-in-out;
}

.button:disabled,
.button-secondary:disabled {
  @apply bg-muted hover:bg-muted;
}

/* Input */

.text-input {
  @apply bg-on-background text-background rounded-lg px-4 py-2 w-full focus:outline-none focus:ring-2 focus:ring-primary transition duration-300 ease-in-out;
}

/* Icon */
.icon-with-text {
  @apply w-20 flex flex-col items-center;
}
.icon-with-text svg {
  @apply text-2xl;
}
.icon-with-text span {
  @apply text-xs text-center mt-2;
}
